<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC  
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration>
<session-factory>
 <property name="connection.url">jdbc:postgresql://dev.mtgwalkingarchive.com:5432</property>
 <property name="connection.driver_class">org.postgresql.Driver</property>
 <property name="connection.username">walkingarchive</property>
 <property name="connection.password">eZpBH5f8HW6QrnCUrwLX</property>
 <property name="databasename">walkingarchive-dev</property>
 <property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
 <property name="connection.requireSSL">true</property>
<!-- thread is the short name for
org.hibernate.context.ThreadLocalSessionContext
and let Hibernate bind the session automatically to the thread
-->
<property name="current_session_context_class">thread</property>
<!-- this will show us all sql statements -->
<property name="hibernate.show_sql">true</property>
<!-- mapping files -->
<mapping class="org.walkingarchive.backend.model.card.Card"/>
</session-factory>
</hibernate-configuration>