<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.url">jdbc:postgresql://dev.mtgwalkingarchive.com/walkingarchive-dev?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">walkingarchive</property>
        <property name="connection.password">yTLqKwyQLibsiTvtNP2L</property>
        <property name="temp.use_jdbc_metadata_defaults">false</property>
        
        <mapping resource="Types.hbm.xml" />
        <mapping resource="Card.hbm.xml" />
        <mapping resource="Trade.hbm.xml" />
        <mapping resource="User.hbm.xml" />
        <mapping resource="Deck.hbm.xml" />
        <mapping resource="Set.hbm.xml" />
        <mapping resource="Price.hbm.xml" />
    </session-factory>
</hibernate-configuration>
